# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Visual Studio
*.vcxproj
*.user
*.filters
*.orig
*.aps
*Makefile
*.Debug
*.Release
/.vs

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Build directories
/out/build
/Output/Win32
/build
